<main>
  <h1>About</h1>
  <p>Version: 0.1.0</p>
  <p>Framework: EJS Templating</p>
  <p>EJS templates are pre-compiled into standalone JavaScript functions by the Vitella SSR Vite plugin, then rendered on the server with data from your page's <code>load()</code> function.</p>
  <a href="/">Home</a>
</main>
